@import url("ace.css");

h1 {
  text-align: center;
}

.carousel-column {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:30px;
}

.informational-row {
  /* margin-top:50px; */
  margin-bottom:2px;
  /* background-color:#fff; */
  display: flex;
  flex:1;
  justify-content: space-evenly;
}

.informational-column {
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-top:30px;
}

@media(max-width:500px){
  .informational-row {
    /* margin-top:50px; */
    margin-bottom:2px;
    /* background-color:#fff; */
    display: flex;
    flex:1;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #facebook-icon {
    margin-left:100px;
  }
}
