@import url("ace.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--surface-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/***
layout CSS
***/

.ace-header {
    position: absolute;
    width:100%;
    z-index:3;
    height:44px;
    background: var(--primary-dark-color);
    border-bottom: 3px solid var(--primary-light-color);

}
.ace-logo {
    height: 44px;
    padding: 10px;
    font-weight: 700;
}
.ace-header .ace-logo {
    color: var(--font-color-light);
    float: left;
    height: 44px;
    padding: 10px;
    font-weight: 700;
}
.ace-layout-sidenav .ace-logo{
    background-color: var(--primary-dark-color);
    color: var(--font-color-light);
}
.ace-logo .layout-icons {
    font-size: 22px;
}
.ace-logo span {
    margin-left:5px;
    text-transform: uppercase;
}
.nav-trigger {
    position: relative;
    float: right;
    width: 20px;
    height: 44px;
    right: 30px;
    display: block;    
}
.nav-trigger span, .nav-trigger span:before, span:after {
    width: 20px;
    height: 2px;
    background-color: var(--font-color-light);
    position: absolute;
}
.nav-trigger span {
    top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
    content: '';
}
.nav-trigger span:before {
    top: -6px;
}
.nav-trigger span:after {
    top: 6px;
}

/**
Side nav styles
**/
.ace-layout-sidenav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 1;
    display: none;
}
.ace-layout-sidenav.visible {
    display: block;
}
.ace-layout-sidenav ul {
    margin: 0;
    padding: 0;
}
.ace-layout-sidenav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid var(--primary-light-color);
    position: relative;
}
.ace-layout-sidenav ul li.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--font-color-light);
}
.ace-layout-sidenav ul li a {
    color: var(--font-color-light);
    display: block;
    text-decoration: none;
}
.ace-layout-sidenav ul li i {
    color: var(--accent-color);
    min-width: 20px;
    text-align: center;
}
.ace-layout-sidenav ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.ace-layout-content {
    margin-top:0;
    padding-left:0px;
    padding-top: 44px;
    height: 100%;
}

.ace-layout-content .title {
    background-color:var(--background-color);
    border-bottom: 1px solid var(--surface-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
}

.ace-layout-content .content {
    margin: 15px 15px;
    padding: 10px 10px;
}

  @media screen and (min-width:760px) {
    .centered-login {
        width:25%;
    }
    .ace-header {
        background-color: var(--primary-color);
        z-index:1;
    }
    .ace-header .ace-logo {
        display:none;
    }
    .nav-trigger {
        display: none;
    }
    .nav-trigger span, .nav-trigger span:before, span:after {
        background-color: var(--font-color-light);
    }
    .ace-layout-sidenav {
        display: block;
        width:70px;
        z-index: 2;
    }
    .ace-layout-sidenav ul li span:nth-child(2) {
        display:none;
    }
    .ace-layout-sidenav .ace-logo i {
        padding-left:12px;
    }
    .ace-layout-sidenav .ace-logo span {
        display: none;
    }
    .ace-layout-sidenav ul lu i {
        font-size:26px;
    }
    .ace-layout-sidenav ul li a {
        text-align: center;
    }

    .ace-layout-content {
        margin-left:70px;
    }

  }

  @media screen and (min-width: 1024px) {
      .centered-login {
          width:45%;
      }
      .ace-layout-sidenav {
          width:200px;
      }
      .ace-layout-sidenav ul li span:nth-child(2) {
          display: inline-block;
      }
      .ace-layout-sidenav ul li i {
          font-size:16px;
      }
      .ace-layout-sidenav ul li a {
          text-align:  left;
      }
      .ace-layout-sidenav .ace-logo i {
          padding-left:0;
      }
      .ace-layout-sidenav .ace-logo span {
          display: inline-block;
      }
      .ace-layout-content {
        margin-left: 200px;
    }
  }