/* Builds mobile version first, expands to desktop sizes 
 
 Palette:
  white, ivory, wheat, #600000

/* Basic Elements ---------------------------------------------------------- */

:root {
  --background-color: #eef1f7;
  --surface-color: #d5dae5;
  --primary-color: #35475e;
  --primary-dark-color: #233245;
  --accent-color: #008CBA;
  --font-color-dark: black;
  --font-color-light: white;
}

body, html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color-dark);
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.4em;
}

body {
  padding-top: 30px;
  font-family: 'Roboto Slab';
  background-color: var(--background-color);
}

footer {
  font-size: 1em;
}

h1 hr,
h2 hr,
h3 hr,
h4 hr, 
h5 hr,
h6 hr {
  color: var(--primary-color);             /* IE7+ */
  border-width: 2px;
  border-color: var(--primary-color);      /* Chrome and Safari */
  background-color: var(--primary-color);  /* Firefox and Opera */
  max-width: 900px;
}

section {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
  
  p {
    font-size: 1.4em;
  }

  footer {
    font-size: 1.4em;
  }
}

a {
  color: var(--accent-color);
}

/* Navbar ------------------------------------------------------------------ */

.navbar-default {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: bold;
  line-height: 30px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--primary-color);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: var(--primary-color);
  background-color: var(--background-color);
}
