<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="ACE" content="">
    <meta name="Matthew Turner" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Aggie Club of Engineers</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Basic styles for ACE pages -->
    <link href="static/css/admissions.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- Custom styles for this page -->
    

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls=".navbar-fixed-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <span><img src="static/img/icons/white-wolf-icon.png"></span> ACE
          </a>
        </div><!--/.nav-header -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index">Home</a></li>
            <li><a href="index#about">About</a></li>
            <li><a href="service">Service</a></li>
            <li><a href="officers">Officers</a></li>
            <li><a href="contact">Contact</a></li>
            <li class="active"><a href="admissions">Admissions</a></li>
            <!-- <li><a href={{login_path}}>{{login_msg}}</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </nav><!--.navbar--> 
 
    <div class="gallery js-flickity" style = "margin-top:50px;"data-flickity-options='{ "freeScroll": true, "wrapAround": true, "imagesLoaded": true, "pageDots": false}'>
      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/Alex_Content.jpg">
            <b>Alex Content</b>
          </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
            <img src = "static/img/admission-team/Alex_Huck.jpeg">
            <b>Alex Huck</b>
        </div>
      </div>
      

      <div class="gallery-cell">
        <div class = "carousel-column">
            <img src = "static/img/admission-team/Andrew_Singer.jpg">
            <b>Andrew Singer</b>
        </div>
      </div>

      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/Brad_Batsell.png">
            <b>Brad Batsell</b>
          </div>
      </div>

      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/Billy_Cary.jpg">
            <b>Billy Cary</b>
          </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
          <img src = "static/img/admission-team/Carlos_Alvarez.jpg">
          <b>Carlos Alvarez</b>
        </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
          <img src = "static/img/admission-team/Chris_Mangini.jpg"> 
          <b>Chris Mangini</b>
        </div>
      </div>

      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/ek.jpg">
            <b>Evan Konda</b>
          </div>
      </div>

      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/Colin_Snell.jpg">
                      <b>Colin Snell</b>
              </div>
      </div>

      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/dr.jpeg">
                      <b>Daniel Rutlidge</b>
              </div>
      </div>

      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/eh.jpg">
                      <b>Ethan Hardin</b>
              </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/ey.jpg">
                      <b>Ethan Young</b>
              </div>
      </div>
      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/gg.png">
                  <b>Gerardo Gaona</b>
          </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/gh.jpg">
                      <b>Garrett Hummel</b>
              </div>
      </div>
      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/is.jpg">
                  <b>Issac Shrand</b>
          </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/ja.jpeg">
                      <b>Jared Arend</b>
              </div>
      </div>
      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/jb.jpg">
                  <b>John Buettner</b>
          </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/ks.png">
                      <b>Kyle Snell</b>
              </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/ls.jpg">
                      <b>Luis Saucedo</b>
              </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/md.jpg">
                      <b>Matt Day</b>
              </div>
      </div>
      <div class="gallery-cell">
        <div class = "carousel-column">
            <img src = "static/img/admission-team/mf.jpg"> 
            <b>Mitchell Flowers</b>
        </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
          <img src = "static/img/admission-team/mh.png"> 
                <b>Mason Harris</b>
        </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/mm.png">
                <b>Michael Moellering</b>
              </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
          <img src = "static/img/admission-team/nm.jpg"> 
                <b>Nick Manning</b>
        </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/rt.jpg">
                      <b>Robert Todd</b>
              </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/to.jpg">
                      <b>Tyler Otten</b>
              </div>
      </div>
      <div class="gallery-cell">
              <div class = "carousel-column">
                <img src = "static/img/admission-team/tw.jpg">
                      <b>Tyler Wooten</b>
              </div>
      </div>
      <div class="gallery-cell">
          <div class = "carousel-column">
              <img src = "static/img/admission-team/cw.jpeg"> 
              <b>Chris Mangini</b>
          </div>
      </div>
      <div class="gallery-cell">
          <div class = "carousel-column">
            <img src = "static/img/admission-team/jf.png"> 
                  <b>Jacob Foltyn</b>
          </div>
      </div>
      <div class="gallery-cell">
          <div class = "carousel-column">
              <img src = "static/img/admission-team/jm.jpg"> 
              <b>Johnathan McGuire</b>
          </div>
      </div>
      
      <div class="gallery-cell">
        <div class = "carousel-column">
          <img src = "static/img/admission-team/mk.png"> 
                <b>Marshall Kettler</b>
        </div>
      </div>
      <div class="gallery-cell">
        <div class = "carousel-column">
          <img src = "static/img/admission-team/rjm.jpg"> 
                <b>RJ Martinolli</b>
        </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
            <img src = "static/img/admission-team/ss.jpg"> 
            <b>Steven Smith</b>
        </div>
      </div>

      <div class="gallery-cell">
        <div class = "carousel-column">
            <img src = "static/img/admission-team/tg.jpg"> 
            <b>Trevor Groves</b>
        </div>
      </div>
        <div class="gallery-cell">
          <div class = "carousel-column">
              <img src = "static/img/admission-team/tq.png"> 
              <b>Tyler Quigley</b>
          </div>
      </div>
      <div class="gallery-cell">
        <div class = "carousel-column">
            <img src = "static/img/admission-team/zk.jpeg"> 
            <b>Zach Kitowski</b>
        </div>
    </div>
    <div class="gallery-cell">
      <div class = "carousel-column">
          <img src = "static/img/admission-team/suraj.jpg"> 
          <b>Suraj Swarnapuri</b>
      </div>
  </div>
  <div class="gallery-cell">
    <div class = "carousel-column">
        <img src = "static/img/admission-team/rm.jpg"> 
        <b>Ray Mishra</b>
    </div>
  </div>
    </div>
  </div>
    
  <div class = "container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>Apply Now!<hr></h1>
        <p>
          Welcome! If you are interested in applying for ACE please fill out 
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSemSNRXrIWF0NXrT-ZbeE35KGk52HamihVhqWDfON3vKns2Kw/viewform">this application</a>
          before September 7th at 5pm. It is also highly recommended that you attend our informationals
          and all the recruitment events that you can.
        </p>
        <h2>Informationals</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <p>
          Date: <b>September 3rd, 2018</b><br>
          Where: <b>Rudder 301</b><br>
          Time: <b>3-4pm</b> and <b>4-5pm</b>
        </p>
      </div>
      <div class="col-sm-5">
        <p>
          Date: <b>September 6rd, 2018</b><br>
          Where: <b>Rudder 301</b><br>
          Time: <b>3-4pm</b> and <b>4-5pm</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p>
          * It is only necessary to attend one of these.
        </p>
      </div>
    </div>
  </div>
    <div class = "container">
      <div class = "row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2>Meet The Guys</h2>
          <p>
            Our first recruitment event this semester will be at Willie's.
            <br><br>
            When: <b>September 9th, 4pm - 9pm</b><br>
            Where: <b>Willie's Grill &amp; Ice House</b><br>
            Address: <b>940 University Dr. E, College Station, TX 77840</b>
            <br><br>
            To help smooth the process of meeting everyone, the slideshow at the top of this page includes all ACE members that are a part of the recruitment committee.
            You aren't required to memorize any names, but feel free to refer back here if it helps.
          </p>
        </div>
      </div>
    </div>
    <br><br><br>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="static/js/jquery-3.1.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="static/js/ace.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> 
  </body>
</html>

