{% extends "static_layout.html" %}
{% block styles %}
  <link href="/static/css/contact.css" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="container content-section text-center">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>
          Contact ACE
          <hr>
        </h1>
        <p>If you know who you would like to contact you can find their information below.
          <br>Please direct general inquiries to our secretary. You can also find us on social media.
        </p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <p class="contact">
          <b>President: </b>Rishub Mishra
          <br>
          <a href="mailto:tamuacepresident@gmail.com">tamuacepresident@gmail.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p class="contact">
          <b>Internal Vice President: </b>Robert Todd
          <br>
          <a href="mailto:email@gmail.com">aceivp@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <p class="contact">
          <b>External Vice President: </b>Jared Arend
          <br>
          <a href="mailto:aceexternalvp@gmail.com">aceexternalvp@gmail.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p class="contact">
          <b>Secretary: </b>Andrew Singer
          <br>
          <a href="mailto:ace.secretary.tamu@gmail.com">ace.secretary.tamu@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <p class="contact">
          <b>Webmaster: </b>Joseph Santana
          <br>
          <a href="mailto:acetamuwebmaster@gmail.com">acetamuwebmaster@gmail.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p class="contact">
          <b>Treasurer: </b>Tyler Wooten
          <br>
          <a href="mailto:email@gmail.com">acetreasurer12@gmail.com</a>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <a href="https://www.facebook.com/AggieClubOfEngineers/" target="_blank">
          <img src="static/img/icons/facebook.png"><br>
          <h3>Facebook</h3>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://twitter.com/TAMU_ACE" target="_blank">
          <img src="static/img/icons/twitter.png"><br>
          <h3>Twitter</h3>
        </a>
      </div>
    </div>
  </section>
{% endblock %}