{% from "macros.html" import headshot with context %}

{% extends "static_layout.html" %}
{% block styles %}
  <link href="/static/css/officers.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <section id="officers" class="container content-section text-center">
    <h1>
      Executive Staff
      <hr>
    </h1>
    <div class="row">
      {{ headshot('President', 'Rishub Mishra', 'rm.jpg', first=true, five=true) }}
      {{ headshot('Internal VP', 'Robert Todd', 'rt.jpg', first=false, five=true) }}
      {{ headshot('External VP', 'Jared Arend', 'ja.jpeg', first=false, five=true) }}
      {{ headshot('Secretary', 'Andrew Singer', 'Andrew_Singer.jpg', first=false, five=true) }}
      {{ headshot('Treasurer', 'Tyler Wooten', 'tw.jpg', first=false, five=true) }}
    </div>
    <h1>
      Internal Cabinet
      <hr>
    </h1>
    <div class="row">
      {{ headshot('Academic Chair', 'Daniel Rutledge', 'dr.jpeg', first=true) }}
      {{ headshot('Family Chair', 'Suraj Swarnapuri', 'suraj.jpg') }}
      {{ headshot('Judicial Chair', 'Gerardo Goana', 'gg.png') }}
      {{ headshot('Athletic Chair', 'RJ Martinolli', 'rjm.jpg') }}
    </div>
    <div class="row">
      {{ headshot('Quartermaster', 'Noah Simpson', 'ns.jpeg', first=true) }}
      {{ headshot('Webmaster', 'Joseph Santana', 'jsm.jpeg') }}
      {{ headshot('Member At Large', 'Suraj Swarnapuri', 'suraj.jpg') }}
      {{ headshot('Service Chair', 'Chris Mangini', 'Chris_Mangini.jpg') }}
    </div>
    <h1>
      External Cabinet
      <hr>
    </h1>
    <div class="row">
      {{ headshot('Social Chair', 'John Buettner', 'jb.jpg', first=true) }}
      {{ headshot('Special Events', 'Alexander Huck', 'Alex_Huck.jpeg') }}
      {{ headshot('Tailgate Chair', 'Jonathan McGuire', 'jm.jpg') }}
      {{ headshot('Corporate Chair', 'Hector Bautista', 'hb.jpg') }}
    </div>
    <div class="row">
      {{ headshot('PR Chair', 'Luis Saucedo', 'ls.jpg', first=true) }}
      {{ headshot('Songfest Chair', 'Christian Gutierrez', 'cg.jpeg') }}
      {{ headshot('Alumni Chair', 'Mitchell Flowers', 'mf.jpg') }}
    </div>
    <h1>
      Godfathers
      <hr>
    </h1>
    <div class="row">
      {{ headshot('Zapdos Godfather', 'Carlos Alvarez', 'Carlos_Alvarez.jpg', first=true) }}
      {{ headshot('Zapdos Godfather', 'Evan Konda', 'ek.jpg') }}
      {{ headshot('MEEN Godfather', 'Ethan Hardin', 'eh.jpg') }}
      {{ headshot('MEEN Godfather', 'Andrew Estrada', 'ae.jpeg') }}
      {{ headshot('ISEN Godfather', 'Brad Batsell', 'Brad_Batsell.png', first=true) }}
      {{ headshot('ISEN Godfather', 'Corey Wilson', 'cw.jpeg') }}
      {{ headshot('PETE Godfather', 'Isaac Shrand', 'is.jpg') }}
      {{ headshot('PETE Godfather', 'Ethan Young', 'ey.jpg') }}
    </div>
  </section>
{% endblock %}