{% extends "static_layout.html" %}
{% block styles %}
  <link href="/static/css/service.css" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="container content-section text-center">
    <div id="banner" class="col-lg-12">
      <img src="static/img/camp-hope.png">
    </div>
    <div id="info">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h2> Sponsors <hr></h2>
          <p>
            &nbsp;&nbsp;&nbsp; If you are interested in becoming a sponsor for Cooking for Hope 2019, please click
             <a href="https://drive.google.com/file/d/189FgvQNSM8_E8uuumWvfk_BhI1c_2zBP/view" target="_blank" style="color:red">here</a> for our sponsorship packet,
              which contains information about the different levels of sponsorship for this event.<br></p>
          </p>
            &nbsp;&nbsp;&nbsp;&nbsp; <h2>About Cooking For Hope <hr></h2>
              <p>&nbsp;&nbsp;&nbsp;&nbsp; Cooking For Hope 2019 is a barbecue cookout that will include a barbecue lunch, live music,
                inflatable games, and competitions. Featuring live performances from A&M’s acapella group,
                Apotheosis, along with Hayden Upchurch and J. Vincent, Cooking For Hope will include a hot dog eating competition
                and corn hole tournament with different prizes! Cooking For Hope 2019 will be on April 27th, 2019 at the TAMU East Quad
                behind Langford Architecture. Please come back to this page, or check out our Facebook event, to get updates about <a href="https://www.facebook.com/events/1726377557508583/" target="_blank" style="color:red">Cooking for Hope 2019.</a></p>
           <!-- &nbsp;&nbsp;&nbsp;&nbsp; <h2>About Camp Hope <hr></h2>
            <p></p>From it’s inception, ACE has been committed to giving back to the local community. Over the years, we have supported various
            charities in the College Station/Bryan area including Camp Kesem, Bryan’s Food Bank, and most recently – Camp Hope.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp; Camp Hope is a foundation which helps connect combat veterans to vital resources they need to deal with the transition back to
            civilian life. These resources include peer support and mentoring for those suffering from the effects of PTSD,
            interim housing, and above all, a support group of peers and professionals who understand the real impact combat can have on one person. If you would 
            like to learn more about or get in contact with this excellent charity, please visit <a href="http://ptsdusa.org/camp-hope/" target="_blank" style="color:red">PTSD USA's website</a>.</p> -->
          </div>
          <div class="col-sm-5">
            <br><br>
            <img src="../static/img/cfh_flyer_2019.jpeg" style="width:100%">
          </div>
          <div class="col-lg-10 col-sm-5 col-sm-offset-1">
            <div class="row">
              <br>
              <h2>About Camp Hope <hr></h2>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; From it’s inception, ACE has been committed to giving back to the local community. Over the years, we have supported various
                charities in the College Station/Bryan area including Camp Kesem, Bryan’s Food Bank, and most recently – Camp Hope.
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp; Camp Hope is a foundation which helps connect combat veterans to vital resources they need to deal with the transition back to
                civilian life. These resources include peer support and mentoring for those suffering from the effects of PTSD,
                interim housing, and above all, a support group of peers and professionals who understand the real impact combat can have on one person. If you would 
                like to learn more about or get in contact with this excellent charity, please visit <a href="http://ptsdusa.org/camp-hope/" target="_blank" style="color:red">PTSD USA's website</a>.
                </p>
              <br>
            </div>
        </div>
          <div  class="col-lg-10 col-sm-5 col-sm-offset-1" id="cfh_group">
            <br>
            <img src="../static/img/cfh_group.jpg"> 
          </div>
        </div>
      </div>
  </section>
{% endblock %}
