{% extends "static_layout.html" %}
{% block styles %}
  <link href="/static/css/service.css" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="container content-section text-center">
    <div id="banner" class="col-lg-12">
      <img src="static/img/camp-hope.png">
    </div>
    <div id="info">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h2> Sponsors <hr></h2>
          <p>
            <br>&nbsp;&nbsp;&nbsp; If you are interested in becoming a sponsor for Cooking for Hope 2019, please click
             <a href="https://drive.google.com/file/d/1qzVOVs3IC91Dkx4_8SqtyqoqaN7iNxM7/view?usp=sharing" target="_blank" style="color:red">here</a> for our sponsorship packet,
              which contains information about the different levels of sponsorship for this event.<br></p>
          </p>
          <h2> Competitors <hr></h2>
          <p>
              <br>&nbsp;&nbsp;&nbsp;&nbsp; If you are interested in competing in our BBQ cook-off during Cooking for Hope 2019,
                  please click <a href="https://docs.google.com/forms/d/e/1FAIpQLScby06exZGbSDvlnTW_xbndrHrf0JZ_wXkg9G7ilp0EKBai_w/viewform" target="_blank" style="color:red">here</a>.
                  Please continue reading to learn more about our philanthropy, Camp Hope, and our philanthropy event, Cooking For Hope. 
            <br></p>
            &nbsp;&nbsp;&nbsp;&nbsp; <h2>About Camp Hope <hr></h2>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; From it’s inception, ACE has been committed to giving back to the local community. Over the years, we have supported various
            charities in the College Station/Bryan area including Camp Kesem, Bryan’s Food Bank, and most recently – Camp Hope.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp; Camp Hope is a foundation which helps connect combat veterans to vital resources they need to deal with the transition back to
            civilian life. These resources include peer support and mentoring for those suffering from the effects of PTSD,
            interim housing, and above all, a support group of peers and professionals who understand the real impact combat can have on one person. If you would 
            like to learn more about or get in contact with this excellent charity, please visit <a href="http://ptsdusa.org/camp-hope/" target="_blank" style="color:red">PTSD USA's website</a>.
            <br><br><br></p>
            &nbsp;&nbsp;&nbsp;&nbsp; <h2>About Cooking For Hope <hr></h2>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; Cooking for Hope is an event where we eat barbecue, listen to music, and play games. In the Spring of 2018 we had the band
              <a href="https://open.spotify.com/artist/17NM2nevXg4IGhIkQs5Z75/" target="_blank" style="color:red">Prairie Switch</a> come and 
            perform at Wolf Pen Creek while we ate barbecue, played games on inflatable obstacle courses, and had competitions like a corn hole tournament or a 
            three-legged race. While having fun, we also raised over $3000 for Camp Hope. Camp Hope 2019 will be on April 27th, 2019 at the TAMU Architecture Quad behind Langford Architecture Center. Please come 
            back to this page to get updates about Cooking for Hope 2019.</p>
            <br>
        </div>
        <div class="col-sm-5">
          <br><br><br><br><br><br><br><br><br><br><br>
          <img src="static/img/camp-hope-flyer.jpeg">
          <br><br><br><br><br><br><br><br>
          <img src="static/img/cfh_group.jpg"> 
        </div>
      </div>
    </div>
  </section>
{% endblock %}