/* Site wide styles, mostly
 
 Palette:
  white, ivory, wheat, #600000

/* Basic Elements ---------------------------------------------------------- */

:root {
  --background-color: #eef1f7;
  --surface-color: #d5dae5;
  --primary-color: #35475e;
  --primary-light-color: #3c506a;
  --primary-dark-color: #233245;
  --accent-color: #6B9080;
  --accent-dark-color: #4E695E;
  --font-color-dark: black;
  --font-color-light: white;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color-dark);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

p {
  font-size: 1.4em;
}

body {
  padding-top: 30px;
  font-family: 'Roboto Slab';
  background-color: var(--background-color);
}

footer {
  font-size: 1em;
}

h1 hr,
h2 hr,
h3 hr,
h4 hr, 
h5 hr,
h6 hr {
  color: var(--primary-color);             /* IE7+ */
  border-width: 2px;
  border-color: var(--primary-color);      /* Chrome and Safari */
  background-color: var(--primary-color);  /* Firefox and Opera */
  max-width: 900px;
}

section {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
  
  p {
    font-size: 1.4em;
  }

  footer {
    font-size: 1.4em;
  }
}

a {
  color: var(--accent-color);
}