@import url("ace.css");

.row img {
  display: block;
  height: 250px;
}

h2 {
  margin-top: 0px;
}

.title {
  height: 2em;
  color: var(--font-color-dark);
}

hr {
  border-color: var(--font-color-dark);
}

/* XM Screens */
@media (min-width: 0px) {
  h2 {
    font-size: 2em;
  }
}

/* SM Screens */
@media (min-width: 544px) {
  h2 {
    font-size: 2em;
  }
}

/* MD Screens */
@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

/* LG Screens */
@media (min-width: 992px) {
  h2 {
    font-size: 1.4em;
  }
}

/* XL Screens */
@media (min-width: 1200px) {
  h2 {
    font-size: 1.4em;
  }
}
