
/* Intro Section ----------------------------------------------------------- */
@import url("ace.css");

#banner {
  margin-top: 30px;
  margin-bottom: 30px;
}

#banner img {
  width: 100%;
}

#info img {
  width: 100%;
}

#info p {
  text-align: left;
}

#about_cfh p {
  margin-left: 100px;
  margin-right: 100px;
}
