<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="ACE" content="">
    <meta name="Matthew Turner" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Prototype Site for ACE</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="static/css/ace-contact.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls=".navbar-fixed-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <span><img src="static/img/icons/white-wolf-icon.png"></span> ACE
          </a>
        </div><!--/.nav-header -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index">Home</a></li>
            <li><a href="index#about">About</a></li>
            <li><a href="service">Service</a></li>
            <li><a href="officers">Officers</a></li>
            <li class="active"><a href="contact">Contact</a></li>
            <li><a href="admissions">Admissions</a></li>
            <!-- <li><a href={{login_path}}>{{login_msg}}</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </nav><!--.navbar--> 

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1>Contact ACE<hr></h1>
          <p>If you know who you would like to contact you can find their information below.
          <br>Please direct general inquiries to our secretary. You can also find us on social media.</p>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <p class="contact">
            <b>President: </b>Rishub Mishra
            <br>
            <a href="mailto:tamuacepresident@gmail.com">tamuacepresident@gmail.com</a>
          </p>
        </div>
        <div class="col-sm-4">
          <p class="contact">
            <b>Internal Vice President: </b>Robert Todd
            <br>
            <a href="mailto:email@gmail.com">aceivp@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <p class="contact">
            <b>External Vice President: </b>Jared Arend
            <br>
            <a href="mailto:aceexternalvp@gmail.com">aceexternalvp@gmail.com</a>
          </p>
        </div>
        <div class="col-sm-4">
          <p class="contact">
            <b>Secretary: </b>Andrew Singer
            <br>
            <a href="mailto:ace.secretary.tamu@gmail.com">ace.secretary.tamu@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <p class="contact">
            <b>Webmaster: </b>Matthew Turner
            <br>
            <a href="mailto:matthewaturner@tamu.edu">matthewaturner@tamu.edu</a>
          </p>
        </div>
        <div class="col-sm-4">
          <p class="contact">
            <b>Treasurer: </b>Tyler Wooten
            <br>
            <a href="mailto:email@gmail.com">acetreasurer12@gmail.com</a>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <a href="https://www.facebook.com/AggieClubOfEngineers/" target="_blank">
            <img src="static/img/icons/facebook.png"><br><h3>Facebook</h3>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://twitter.com/TAMU_ACE" target="_blank">
            <img src="static/img/icons/twitter.png"><br><h3>Twitter</h3>
          </a>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/ace.js"></script>
  </body>
</html>

