{% extends "layout.html" %}
{% block content %}
<form action="{{ url_for('api.create_event') }}" method="post">
    <div class="form-group row">
        <label for="name-input" class="col-xs-2 col-form-label">Event Name</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" id="name-input" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="location-input" class="col-xs-2 col-form-label">Location</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" id="location-input" name="location">
        </div>
    </div>
    <div class="form-group row">
        <label for="category-select" class="col-xs-2">Event Category</label>
        <div class="col-xs-10">
            <select class="form-control" id="category-select" name="category">
                <option>attendance</option>
                <option>flex</option>
                <option>fundraising</option>
                <option>service</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="value-input" class="col-xs-2 col-form-label">Point Value</label>
        <div class="col-xs-10">
            <input class="form-control" type="number" value="0" id="value-input" name="value">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="shifts-input" name="shifts">
            <label class="form-check-label" for="shifts-input">
                Will people be able to sign up for multiple shifts?
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="info-input">Additional Info</label>
        <textarea class="form-control" id="info-input" rows="3" name="info"></textarea>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create Event</button>
        </div>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script src="static/js/events.js"></script>
{% endblock %}