{% extends "layout.html" %}
{% block content %}
<h3>Your Points</h3>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <li class="list-group-item">Attendance {{current_user.attendance}}/14</li>
            <li class="list-group-item">Flex {{current_user.flex}}/40</li>
            <li class="list-group-item">Fundraising {{current_user.fundraising}}/20</li>
            <li class="list-group-item">Service {{current_user.service}}/40</li>
        </div>
    </div>
</div>
{% endblock %}