{% extends "layout.html" %}
{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url_for('members.static', filename='css/dashboard.css') }}">
{% endblock %}
{% block content %}
<h3>Your Points</h3>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            {% if ((current_user.first_name == 'Tyler') and (current_user.last_name == 'Otten')) or ((current_user.first_name == 'Trevor') and (current_user.last_name == 'Groves')) %}
            <li class="list-group-item">Attendance {{current_user.attendance}}/14</li>
            <li class="list-group-item">Flex {{current_user.flex}}/40</li>
            <li class="list-group-item">Service {{current_user.service}}/80</li>
            {% else %}
            <li class="list-group-item">Attendance {{current_user.attendance}}/14</li>
            <li class="list-group-item">Flex {{current_user.flex}}/40</li>
            <li class="list-group-item">Service {{current_user.service}}/40</li>
            {% endif %}
        </div>
    </div>
</div>
<h3>Events You Are Signed Up For</h3>
<div class="row">
    <div class="col-md-4">
        <div id="events-list" class="list-group">
            {% for event in events %}
            <a href="{{ url_for('members.event', event_id=event._id['$oid']) }}" class="list-group-item list-group-item-action">{{event.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}