<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="ACE" content="">
  <meta name="Matthew Turner" content="">
  <link rel="icon" href="{{url_for('static.static', filename='img/icons/black-wolf-icon.png')}}">
  <title>Aggie Club of Engineers</title>

  <!-- css -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static.static', filename='css/bootstrap.min.css') }}">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="{{ url_for('members.static', filename='css/layout.css') }}">
  {% block styles %}{% endblock %}
</head>

<body>
  <div class="ace-header">
    <div class="ace-logo">
      <img src="{{url_for('static.static', filename='img/icons/white-wolf-icon.png')}}" />
      <span>ACE</span>
    </div>
    <a href="#" class="nav-trigger"><span></span></a>
  </div>
  <div class="ace-layout-sidenav">
    <div class="ace-logo">
      <img src="{{url_for('static.static', filename='img/icons/white-wolf-icon.png')}}" />
      <span>ACE</span>
    </div>
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('members.dashboard') }}">
            <span><i class="material-icons layout-icons">home</i></span>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('members.links') }}">
            <span><i class="material-icons layout-icons">link</i></span>
            <span>Links</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('members.events') }}">
            <span><i class=" material-icons layout-icons">event</i></span>
            <span>Events</span>
          </a>
        </li>
        {% if current_user.is_officer %}
        <li>
          <a href="{{ url_for('members.create_event') }}">
            <span><i class=" material-icons layout-icons">event</i></span>
            <span>Create Event</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{url_for('auth.logout')}}">
            <span><i class="material-icons layout-icons">exit_to_app</i></span>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- content -->
  <div class="ace-layout-content">
    <div class="title">
      Signed in as {{current_user.first_name}}
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <!-- js -->
  <script src="{{ url_for('static.static', filename='js/jquery-3.1.0.min.js') }}"></script>
  <script src="{{ url_for('static.static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('members.static', filename='js/layout.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>