{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <table class="table table-bordered" style="background-color:white">
      <tbody>
        <tr>
            <td>Room Confirmations</td>
            <td><a href="https://docs.google.com/document/d/1tXQzNr9KwXGg13db3oN5UT4UGO0T5Jan7Cy0fs-Lo-s/edit?usp=sharing" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Calendar</td>
            <td><a href="https://calendar.google.com/calendar?cid=YnUwbGs2aXJ0YnVrMmJrb2N0NDg1bHNrYWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Test Bank</td>
            <td><a href="https://drive.google.com/drive/u/0/folders/0B39AntXwo9A5alR1Nl9ZREVrNkU" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Check Request Form</td>
            <td><a href="https://goo.gl/forms/Ojvwpq9PYmrmYSBI2" target="_blank">Link</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}