{% extends "layout.html" %}
{% block content %}
<h3>Links</h3>
<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a href="https://calendar.google.com/calendar?cid=YnUwbGs2aXJ0YnVrMmJrb2N0NDg1bHNrYWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
        class="list-group-item list-group-item-action">Calendar</a>
      <a href="https://docs.google.com/spreadsheets/d/1iIlAeVdbl1ZLpKDllzUd9vkwjalAwb-cleT-JD-1LVk/edit"
        class="list-group-item list-group-item-action">Budget</a>
      <a href="https://docs.google.com/spreadsheets/d/1rvz0KSixGSOhfi0fGfStOUmiXXQOHtT6lgYH2Rio5Ck/edit#gid=0" class="list-group-item list-group-item-action">Refund Status</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd3lgVJNSc7DqQ92EHRNTGyPqZDXD6akUGCXOBvza1dII-VZQ/viewform"
        class="list-group-item list-group-item-action">Check Request Form</a>
      <a href="https://docs.google.com/document/d/1tXQzNr9KwXGg13db3oN5UT4UGO0T5Jan7Cy0fs-Lo-s/edit?usp=sharing" class="list-group-item list-group-item-action">Room
        Confirmations</a>
      <a href="https://drive.google.com/drive/u/0/folders/0B39AntXwo9A5alR1Nl9ZREVrNkU" class="list-group-item list-group-item-action">Test
        Bank</a>
      <a href="https://drive.google.com/drive/u/1/folders/1vi65o3BPGWm8-NsMhNPoKOyToiMsMmHa" class="list-group-item list-group-item-action">Contact Cards</a>  
      <a href="https://drive.google.com/drive/u/0/folders/1gOEKB-lv6LuYyZJn07YfXQHNw_D1jVWi" class="list-group-item list-group-item-action">Corporate Event 2019 Pictures</a>
      <a href="https://docs.google.com/spreadsheets/d/1V-kdteF4RyN66_HZtnpZjXfnAhOxFZAmxLJS_M4pQKY/edit?usp=sharing" class="list-group-item list-group-item-action">CFH Contacted Sponsors</a>
    </div>
  </div>
</div>
{% endblock %}